# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Class_assignment_3/.vs/Class_assignment_3/v16/Browse.VC.opendb
/Class_assignment_4/.vs/Class_assignment_4/v16/Browse.VC.opendb
/Class_assignment_2/.vs/Class_assignment_2/v16/Browse.VC.opendb
